name: Run RobotPy Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          persist-credentials: true

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential python3 python3-pip
          python3 -m pip install pip --upgrade
          python3 -m pip install -r requirements.txt

      - name: Setup RobotPy
        run: |
          python3 -m robotpy sync

      - name: Build RobotPy
        run: |
          python3 -m robotpy create-physics
          python3 -m robotpy test --builtin
